.mod-oc-hr {
	margin: 5px 15px;
	width: 200px;
}
.oc-mod-mp {
	 margin-top: 5px;
}
.oc-mod-tooltip>label {
	margin: 0px !important;
}
.oc-mod-h {
	text-align: center;
}
.oc-mod-xsmall {
	font-size: xx-small;
}
#oc-mod-panel {
	z-index: 1000,
	position: fixed,
	background: #ececec,
	padding: 0px,
	border: 1px solid #4f8a03;
	border-radius: 5px;
}
#oc-mod-caret, .oc-mod-pointer {
	cursor: pointer;
}
#oc-mod-drag {
	cursor: move;
}
.oc-mod-icon {
	margin-left: 5px;
	float: right;
	color: #4f8a03;
}
.oc-mod-column {
	float: left;
	width: 250px;
	margin-bottom: 10px;
}
#oc-mod-valid {
	float: right;
}
.oc-mod-title {
	font-size: 1.2em;
	color: #4f8a03;
	font-weight:bold;
	line-height:1em;
	margin-bottom: 10px;
}
.oc-mod-version {
	font-size: 0.5em
}
.oc-mod-subtitle {
	font-size: 1.1em;
	color: #000;
	font-weight: bold;
	line-height: 1em;
}
.oc-mod-subsubtitle {
	font-size: 1em;
	color: #4f8a03;
	font-weight: bold;
	line-height: 1em
}
#oc-mod-validation {
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin: 10px 0 0 5px;
	border: 1px solid #380e00;
	box-shadow: inset 0 1px 1px 0 #a95f47;
	background-color: #691c02;
	background-image: linear-gradient(to bottom,#872403 0,#763019 49%,#691c02 50%,#421100 100%);
	text-shadow: 0 -1px 0 #1c181b;
	text-decoration: none;
}
